.custom-select .ant-select-selector {
  background-color: #fff !important;
  border: 1px solid #dddddd !important;
  color: #002852 !important;
  height: 35px;
  padding: 0px 20px;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-select .ant-select-arrow {
  color: #002852;
}

.custom-select .ant-select-item-option-selected {
  background-color: darkred !important;
  color: #002852 !important;
}

.custom-select .ant-select-item-option-active {
  background-color: crimson !important;
  color: #002852 !important;
  color: #8e8e8e !important;
}

.custom-select.ant-select .ant-select-selection-placeholder {
  color: #8e8e8e !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
}

:where(.css-tjsggz).ant-select-single {
  height: 42px !important;
}

.custom-select .ant-select-single {
  height: 42px !important;
}

.custom-select .ant-select-single .ant-select-selector {
  height: 42px !important;
}

.ant-select-show-search:where(
    .css-dev-only-do-not-override-tjsggz
  ).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  height: 54px;
}

:where(.css-dev-only-do-not-override-tjsggz).ant-select-single {
  font-size: 1rem;
  height: 42px !important;
}

.custom-dropdown
  .ant-select-item-option-selected
  .ant-select-item-option-state {
  display: none;
}

:where(.css-dev-only-do-not-override-tjsggz)[class^="ant-select"]
  [class^="ant-select"],
:where(.css-dev-only-do-not-override-tjsggz)[class*=" ant-select"]
  [class^="ant-select"],
:where(.css-dev-only-do-not-override-tjsggz)[class^="ant-select"]
  [class*=" ant-select"],
:where(.css-dev-only-do-not-override-tjsggz)[class*=" ant-select"]
  [class*=" ant-select"] {
  cursor: pointer;
}
